<!-- <img id="profile-pic" src="./images/caleb-pic.jpg"> -->
<div id="name-tag-wrapper">
  <h1 id="name-tag">About Me</h1>
</div>
<p id="about-me-text">Hi, I'm Caleb Hering, sometimes also known as <span style="color: white;">'c-hering'</span> or <span style="color: white;">'Toastyyyyy'</span>.
  I'm a 16yr old developer from Bethesda, Maryland and a sophomore at Walt Whitman Highschool. In the future I hope to study and pursue
<span style="color: white;">Computer Science</span>, <span style="color: white;">Cyber Security/Cryptography</span>, <span style="color: white;">Robotics</span>
and <span style="color: white;">Business Management</span>. More specifically <span style="color: white;">Machine Learning</span> and <span style="color: white;">Web Development</span>.
<br/><br/>My love for programming/engineering first developed when I watched <span style="color: white;">WarGames</span> for the first time out of many times to come.
This love grew through stories of my late grandfather, who worked at <span style="color: white;">Bell Labs</span>, and through any books I could find on
programming. Recently I took a month long class in Cambridge England, with a student at Pembrook College of Cambridge University who was working on <span style="color: white;">Quantum Computers</span>.
This opened my eyes and started a fire in the world of electrical engineering and Quantum Computing.
<br/><br/>Currently I am working on personal projects to progress my knowledge in computer science concepts, and programming languages. I also am working on
robots with my school FRC team; Team 1389. Then on the side I am working as a freelance developer, creating websites, or other programs. Check me out on
<a href="https://github.com/c-hering" target="_blank" style="text-decoration: none; color: white;">Github</a>
</p>
