<div id='preloader-wrapper'>
  <p>WHA IS GOING ON</p>
</div>
<script>
  $(window).load(function(){
    setTimeout(functino(){
    $('#preloaded-wrapper').fadeOut('slow', function(){
      $(this).remove();
    }, 3000);
    });
  });
</script>
