  <div class="project-content-wrapper">
    <ul class="image-slider-ul">
      <div id="test">
        <h1 id="projects-title">Projects</h1>
      <!-- <% for(var i=0; i < projects.length; i++){ %> -->
          <li class="image-slider-li">
              <a href=<%- projects[i].link %> target="_blank">
                <img class="image-slider-image" id=<%- projects[i].i %> src=<%- projects[i].picture %>>
              </a>
          </li>
      <!-- <% } %> -->
    </div>
    </ul>
</div>
