<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/header.ejs %>
      <% include partials/scripts.ejs %>
      <div>
        <img src="../images/404.gif" id="fourofourimg">
    </div>
</body>
</html>
