<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/header.ejs %>
      <div>
      <% include partials/about.ejs %>
    </div>
    <% include partials/scripts.ejs %>
  </body>
  <% include partials/footer.ejs %>
</html>
