<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <h1><%= title %></h1>
    <% for(var i = 0; i < projects.length; i++){ %>
      <h3><%= projects[i].name %></h3>
    <% } %>
    <% include partials/scripts.ejs %>
  </body>
  <% include partials/footer.ejs %>
</html>
